{
  "openapi": "3.0.3",
  "info": {
    "title": "NominalPayments",
    "version": "1.1.0",
    "description": "## Quickstart\n\n1. **Authenticate**: obtain your API key from your NominalPayments manager.\n2. **Initiate Transaction**: POST to `/v1/payments/process` with required fields.\n3. **Redirect User**: for fund operations, redirect to the `checkout_url` in the response, or use `api_only: true` for headless integration.\n4. **Listen for Webhooks**: implement an endpoint to receive callbacks on payment state changes. Verify the `X-Signature` header.\n5. **Check Status**: poll `/v1/payments/{ref_num}/resolve` for real-time status.\n\n---\n\n## Introduction\n\nNominalPayments provides a high-performance gateway for Pay-In (fund) and Pay-Out (disburse) operations, primarily focusing on the Indian market (UPI, IMPS, Cards). This API is designed for reliability and ease of integration, following industry standards for security and idempotency."
  },
  "servers": [
    {
      "url": "https://api.nominalpayments.app",
      "description": "Production Server"
    },
    {
      "url": "https://api-test.nominalpayments.app",
      "description": "Staging Server"
    }
  ],
  "tags": [
    {
      "name": "Operations",
      "description": "Core payment processing methods"
    },
    {
      "name": "Account",
      "description": "Balance and merchant information"
    }
  ],
  "paths": {
    "/v1/payments/process": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Process Payment (Pay-In / Pay-Out)",
        "description": "Universal endpoint to initiate a transaction. Use `tx_type: fund` for accepting payments and `tx_type: disburse` for payouts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction successfully initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/v1/payments/{ref_num}/resolve": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Check Transaction Status",
        "description": "Retrieve the current state of a payment using its unique reference number.",
        "parameters": [
          {
            "name": "ref_num",
            "in": "path",
            "required": true,
            "description": "The unique reference number returned during creation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/ledger": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Balance",
        "description": "Retrieve your current balance for different currencies.",
        "responses": {
          "200": {
            "description": "Merchant balance information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "string",
                      "example": "2526.00"
                    },
                    "iso_ccy": {
                      "type": "string",
                      "example": "INR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "value",
          "iso_ccy",
          "client_ref",
          "tx_type",
          "processing",
          "user_ref"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Amount in string format",
            "example": "1000.00"
          },
          "iso_ccy": {
            "type": "string",
            "description": "ISO 4217 currency code",
            "example": "INR"
          },
          "client_ref": {
            "type": "string",
            "description": "Merchant unique identifier for idempotency",
            "example": "order_id_12345"
          },
          "tx_type": {
            "type": "string",
            "enum": [
              "fund",
              "disburse"
            ],
            "example": "fund"
          },
          "processing": {
            "type": "string",
            "enum": [
              "direct",
              "card"
            ],
            "example": "direct"
          },
          "channel_code": {
            "type": "string",
            "enum": [
              "upi",
              "upi_intent",
              "imps"
            ],
            "example": "upi"
          },
          "notify_endpoint": {
            "type": "string",
            "description": "Webhook callback URL",
            "example": "https://merchant.com/callback"
          },
          "landing_url": {
            "type": "string",
            "description": "Redirect URL after payment completion",
            "example": "https://merchant.com/return"
          },
          "api_only": {
            "type": "boolean",
            "default": false
          },
          "user_ref": {
            "type": "string",
            "description": "Payer unique identifier",
            "example": "user_99"
          },
          "fund_details": {
            "$ref": "#/components/schemas/FundDetails"
          },
          "payout_details": {
            "$ref": "#/components/schemas/PayoutDetails"
          }
        }
      },
      "FundDetails": {
        "type": "object",
        "properties": {
          "card_info": {
            "type": "object",
            "properties": {
              "card_number": {
                "type": "string"
              },
              "expiry_month": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              },
              "expiry_year": {
                "type": "integer",
                "description": "Year in YY format (e.g., 26)"
              },
              "security_code": {
                "type": "string",
                "description": "CVV/CVC code"
              },
              "holder_name": {
                "type": "string"
              }
            }
          }
        }
      },
      "PayoutDetails": {
        "type": "object",
        "properties": {
          "upi_id": {
            "type": "string",
            "example": "user@upi"
          },
          "acct_number": {
            "type": "string",
            "description": "Bank account number for IMPS",
            "example": "919876543210"
          },
          "bank_code": {
            "type": "string",
            "description": "IFSC code for IMPS",
            "example": "HDFC0001234"
          },
          "recipient_name": {
            "type": "string",
            "example": "Rahul Sharma"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "ref_num": {
            "type": "string",
            "example": "019e20c2-a148-7911-a6b3-d7bf00e327f3"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "declined"
            ],
            "example": "pending"
          },
          "checkout_url": {
            "type": "string",
            "nullable": true,
            "example": "https://in-grapes.com/checkout/..."
          },
          "client_ref": {
            "type": "string"
          },
          "charge_amount": {
            "type": "string"
          },
          "iso_currency": {
            "type": "string"
          },
          "opened_at": {
            "type": "string",
            "format": "date-time"
          },
          "transfer_details": {
            "type": "object",
            "nullable": true
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}